In [1]:
import pandas as pd

In [2]:
data_1_df = pd.read_csv('data_1.csv')
data_2_df = pd.read_csv('data_2.csv')

In [3]:
combined_df = pd.concat([data_1_df, data_2_df], ignore_index=True)

In [4]:
def custom_sort(name):
    parts = name.split('_')
    if len(parts) == 2 and parts[0].isdigit() and parts[1].isdigit():
        return (int(parts[0]), int(parts[1]))
    return name

In [5]:
combined_df['name'] = combined_df['name'].apply(custom_sort)

In [6]:
sorted_combined_df = combined_df.sort_values(by='name')

In [7]:
sorted_combined_df.to_csv('data.csv', index=False)

In [8]:
data = pd.read_csv('data.csv')

In [9]:
data.head()

,name,text,year,sentences,tag,label
0,1947_0.txt,"Dr. B.S. CHAUHAN, J. This reference before us...",1947,605,civil,Accepted
1,1947_1.txt,This special leave petition has been filed ag...,1947,36,civil,Rejected
2,1947_10.txt,Leave granted. This appeal has been preferred...,1947,103,Civil,Accepted
3,1947_100.txt,"S. RADHAKRISHNAN, J. We are, in this case, co...",1947,214,Criminal,Rejected
4,1947_102.txt,"Dr. B. S. CHAUHAN, J. These appeals have been...",1947,193,Civil,Rejected

In [10]:
data.shape

(54149, 6)